@import '~themes/vars.less';
.modal {
  :global {
    .ant-modal-header {
      background: @primary-color;
      .ant-modal-title {
        color: white;
        display: flex;
        justify-content: center;
      }
    }
    .ant-modal-close {
      color: @red-color;
    }
  }
  &.table {
    width: auto !important;
    padding: 20px;
    top: 0px;
  }
}