@import '~themes/vars.less';
.default-button {
  background-color: @primary-color;
  border-color: @primary-color;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: @primary-color;
    border-color: @primary-color;
  }
}