@import '~themes/vars.less';
.title {
  font-size: 2.4rem;
}
// .table {
//   :global {
//     .ant-table-thead > tr > th {
//       background: @primary-color;
//       color: white;
//     }
//     .ant-table-tbody{
//       & > tr:nth-child(odd) {
//         background: white
//       }
//       & > tr:nth-child(even) {
//         background: @gray-color;
//       }
//     }
//   }
// }