@import '~themes/vars.less';
.titleWrapper {
  display: flex;
  justify-content: space-between
}
.title {
  font-size: 2.4rem;
  &.blue {
    color: @primary-color
  }
}
.test-module{
  color: 'red'
}
