@import '~themes/style.less';
html {
  font-size: 62.5%;
  color: black
}
body{
  height: 100%;
  background-color: white;
 }
 
#root{
//  height:auto !important;
 height: 100%;
 background-color: white;
}
