@import '~themes/vars.less';
.layout {
  background-color: white;
  height:100%;
  // height:auto !important;
}
.content {
  margin: 24px 16px;
  background: white;
  height:100%;
  // height:auto !important;
  margin-top: 63px;
}
.header {
  :global{
    .ant-menu-horizontal {
      & > .ant-menu-submenu {
        float: right;
      }
      border: none;
      display: inline-block;
      color: white;
    }
    .ant-menu-submenu-title:hover {
      color: white;
    }
    .ant-menu {
      background: transparent !important;
    }
  }
  box-shadow: 4px 4px 40px 0 rgba(0,0,0,0.05);
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 47px;
  background-color: @primary-color;
  z-index: 999;
  .rightWarpper {
    display: flex;
    padding-right: 16px;
  }
  .button {
    width: 47px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    color: white;
    &:hover {
      color: @primary-color;
      background-color: fade(@primary-color, 15%);
    }
  }
}
